	<div class='container'>
		<h2>Welcome to my login page</h2>
		<form class="form-horizontal">
			
 		 <label class="control-label" for="focusedInput">Please Login</label>
 		 <!-- <input class="form-control" id="focusedInput" type="text" placeholder="email" ng-model='user.email' required autofocus> -->
 		 <!-- <input class="form-control" id="focusedInput" type="text" placeholder="password" ng-model='user.password' required autofocus> -->
 		 <button class='btn btn-primary' type='button' ng-click='fbLogin()'>Login w/ Facebook</button>
 		 <!-- <button class='btn btn-primary' type='button' ng-click='loginSubmit()'>Login</button> -->
		</form>

	</div>